.we-are-different {
    width: 100%;
    padding-top: 10rem;
    img {
        max-width: 12rem;
        max-height: 12rem;
        min-height: 12rem;
        max-height: 12rem;
        cursor: pointer;
    }
    h2 {
        @media (max-width: 767px) {
            text-align: center;
        }
    }
    .snappy {
        text-align: center;
    }
    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        padding-top: 10rem;
        h3 {
            padding: 1.5rem 0;
            font-weight: 700;
        }
        p {
            padding: 0;
        }
        @media (max-width: 767px) {
            text-align: center;
            grid-template-columns: repeat(1, 1fr);
            p {
                max-width: 70%;
                margin: auto;
            }
            h3 {
                text-align: center;
            }
        }
    }
}