@import "./variable";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Karla", sans-serif;
    font-size: 1.6rem;
}

.container {
    width: 100%;
    max-width: 120rem;
    margin: auto;
    padding: 6rem;
    @media (max-width: 767px) {
        padding: 0;
    }
}

.btn {
    width: 100%;
    max-width: 15rem;
    padding: 1rem 2rem;
    border: 1px solid var(--white);
    background: transparent;
    color: var(--white);
    text-align: center;
    &--nav-btn {
        border: 1px solid var(--dark-violet);
        color: var(--dark-violet);
    }
}

img {
    width: 100%;
}

section {
    padding: 6rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "DM Serif Display", serif;
    line-height: 1;
    font-weight: var(--fw-400);
}

h1,
.title1 {
    font-size: 6rem;
    position: relative;
    @media (max-width: 767px) {
        font-size: 4rem;
    }
    &::before {
        content: "";
        position: absolute;
        width: 10rem;
        height: 2px;
        top: -5rem;
        background-color: var(--white);
        @media screen and (max-width: 767px) {
            display: none;
        }
    }
}

.title1--mod {
    &::before {
        content: "";
        background-color: var(--dark-violet);
        opacity: 0.6;
    }
}

h3,
.title3 {
    font-size: 2.2rem;
}

p {
    padding: 1rem 0;
    line-height: 1.5;
}